.center-content{
    text-align: center;
    text-align: center;
}

.title{
    font-size: 3em;
    margin-top: 17vh;
}

.sub_title{
    width: 50vw;
    color: black;
    font-size: 2.4em;
    margin: auto;
}

.create_title{
    color: black;
    font-size: 1.6em;
}

.descripcion{
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1.6em;
}

.create_community_button{
    width: 9vw;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid #fc047c;
    font-size: 1em;
    margin-top: 2vh;
    margin-bottom: 2vh;
    &:hover{
        transform: scale(1.1);
    }
}

.cancel_button{
    width: 7vw;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 0.8em;
    &:hover{
        transform: scale(1.1);
    }
}

.communities_title {
    font-size: 2em;
    color: black;
    font-weight: 200;
    position: relative;
  }
  
  .communities_title::before {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust the value to control the distance from the text */
    width: 20vw;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: pink;
    transform: scaleX(0); /* Initial state, hidden */
    transform-origin: 0 50%;
    transition: transform 0.3s ease-in-out;

  }
  
  .communities_title:hover::before {
    transform: scaleX(1); /* Fully visible on hover */
    animation: wobble 1s infinite; /* Apply wobble animation */
  }
  
  @keyframes wobble {
    25% {
      transform: scaleX(1.1) rotate(-1deg);
    }
    50% {
      transform: scaleX(0.9) rotate(1deg);
    }
    75% {
      transform: scaleX(1.1) rotate(-1deg);
    }
    100% {
      transform: scaleX(0.9) rotate(1deg);
    }
  }

.community_div{
    border: 0.5px solid black;
    border-radius: 4px;
    height: auto;
    width: 27vw;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 5vh;
    transition: width 0.3s, height 0.3s; /* Add transitions for width and height */
    background-color: rgba(255, 0, 0, 0.14); /* Red color with 50% opacity */
}

.more_info_button{
    color:#fc047c;
    &:hover{
        transform: scale(1.2);
    }
}

.scrollable_div {
    max-height: 300px; /* Set the maximum height as needed */
    overflow-y: auto; /* Add vertical scroll when content exceeds the height */
    border: 1px solid #ccc; /* Optional: Add a border for visual clarity */
  }

.community-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
    gap: 20px; /* Adjust the gap between columns */
    width: 90vw;
    margin: auto;
  }

.community_title{
    font-size: 1.2em;
}

.community_description{
    font-size: 1em;
    color: #fc047c;
}

.show_icon{
    margin-left: 2vw;
    color:#fc047c;
}

.colapse_icon{
    margin-left: 2vw;
    color:#fc047c;
}

.options_your_community {
    display: flex; /* Use flexbox to arrange columns horizontally */
    float: right;
  }
  
  .row {
    display: flex; /* Use flexbox to arrange columns horizontally */
  }
  
  .col {
    margin-right: 10px; /* Add some spacing between columns */
  }

.options_buttons{
    &:hover{
        transform: scale(1.2);
        color:#fc047c;
    }
}